@if(inputCardContent)
{
    <td sc class="card__item">{{inputCardContent.VEN_CODIGO}}</td>
    <td class="card__item">{{inputCardContent.FUNCIONARIO}}</td>
    <td class="card__item">{{inputCardContent.USUARIO_PROCESSOU}}</td>
    <td class="card__item">{{inputCardContent.VEN_CLIENTE}}</td>
    <td class="card__item">{{inputCardContent.VEN_SITUACAO}}</td>
    <td class="card__item">{{inputCardContent.VEN_OBS}}| "Sem Observação"</td>
    <td class="card__item">{{inputCardContent.VEN_EMISSAO}} | {{inputCardContent.VEN_HORA}}</td>
    <td class="card__item">{{inputCardContent.VEN_SUBTOTAL}}</td>
    <td class="card__item">{{inputCardContent.VEN_DESC_V}}</td>
    <td class="card__item">{{inputCardContent.VEN_TOTAL}}</td>
}