@if(inputCardContent) {
<div class="card-item__container">
  <p class="card-item">{{ inputCardContent.VEN_CODIGO }}
    <span class="line-h"></span>
    <span class="line-v"></span>

  </p>
  <p class="card-item">{{ inputCardContent.FUNCIONARIO }}
    <span class="line-h"></span>
    <span class="line-v"></span>
  </p>
  <p class="card-item">{{ inputCardContent.USUARIO_PROCESSOU }}
    <span class="line-h"></span>
    <span class="line-v"></span>
  </p>
  <p class="card-item">{{ inputCardContent.VEN_CLIENTE }}
    <span class="line-h"></span>
    <span class="line-v"></span>
  </p>
  <p class="card-item">{{ inputCardContent.VEN_SITUACAO }}
    <span class="line-h"></span>
    <span class="line-v"></span>
  </p>
  <p class="card-item" >
    {{ inputCardContent.VEN_OBS | valueIsNull:"Sem Observação"}} 
    <span class="line-h"></span>
    <span class="line-v"></span>
  </p>
  <p class="card-item">
    {{ inputCardContent.VEN_EMISSAO }} - {{ inputCardContent.VEN_HORA }}
    <span class="line-h"></span> 
    <span class="line-v"></span>
</p>
  <p class="card-item">{{ inputCardContent.VEN_SUBTOTAL | currency:'BRL':'symbol':'1.2-2' }}
    <span class="line-h"></span>
    <span class="line-v"></span>
  </p>
  <p class="card-item">{{ inputCardContent.VEN_DESC_V | currency:'BRL': 'symbol': '1.2-2'}}
    <span class="line-h"></span> 
    <span class="line-v"></span>   
  </p>
  <p class="card-item">{{ inputCardContent.VEN_TOTAL | currency: 'BRL': 'symbol': '1.2-2' }}
    <span class="line-h"></span>    
  </p>
</div>
}
